<?xml version='1.0' encoding='utf-8'?>
<widget id="com.devsoftware.pdfreader" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>PDF Reader</name>
    <description>Professional PDF viewer and editor!</description>

    <author email="devsoftwaremail@gmail.com" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>

    <!-- Uygulama başlangıç dosyası -->
    <content src="web/index.html" />

    <!-- İnternet izinleri -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Splash -->
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="500" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splashscreen.xml" />
    <preference name="AndroidWindowSplashScreenBackground" value="#ffffff" />
    <preference name="AndroidPostSplashScreenTheme" value="@style/Theme.AppCompat.NoActionBar"/>

    <!-- ANDROID PLATFORM AYARLARI -->
    <platform name="android">

        <!-- Uygulama İkonu -->
        <icon src="res/android/icon.png" />

        <!-- Splash Görselleri -->
        <splash src="res/screen/android/splash.png" density="xxxhdpi"/>

        <!-- 📌 TAM DOSYA ERİŞİM İZİNLERİ -->
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage"/>
        </edit-config>

        <!-- SAF DOSYA ERİŞİMİ İÇİN -->
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />

    </platform>

    <!-- Plug-in izinleri -->
    <plugin name="cordova-plugin-file" />
    <plugin name="cordova-plugin-android-permissions" />

</widget>
