name: Build Debug APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      # Template indir
      - name: Download Capacitor Remix Template
        run: |
          curl -L https://github.com/ionic-team/capacitor-remix-templates/archive/refs/heads/main.zip -o template.zip
          unzip template.zip -d template
          
          # Zip içindeki klasör adını otomatik bul
          TDIR=$(ls template)
          
          # Doğru klasörü project adıyla taşı
          mv "template/$TDIR" project
          
          rm -rf template template.zip

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Dependencies
        run: |
          cd project
          npm install

      - name: Capacitor Sync Android
        run: |
          cd project
          npx cap sync android

      - name: Build Debug APK
        run: |
          cd project/android
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: Upload Debug APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: project/android/app/build/outputs/apk/debug/app-debug.apk
